<h1>Delivery Address</h1>

 <% if current_user %>
  <%= current_user.city%>
  <%= current_user.first_name%>
    
    <div class="row">
      <div class="col-md-6">
        <%= simple_form_for @cart, url: cart_path do |f| %>
          <%= f.association :shipping_type, as: :select, prompt: nil %>
          <%= f.input :comment %>
          <%= button_tag class: "btn btn-success btn-lg go_forward" do %>
            Save and go forward
            <span class="fa fa-step-forward"></span>
          <% end %>
        <% end %>
      </div>
    </div>

 <%else%>
   <% controller.redirect_to sign_in_path %>
 <%end%>







