<h1>Orders</h1>

<div class="search-form">
   <%= search_form_for [:admin,@q] do |f| %>
        <%= f.text_field :user_first_name_cont, placeholder: "First name"%>
        <%= f.text_field :user_last_name_cont, placeholder: "Surname"%>
        <%= f.search_field :created_at_gteq, class: 'form-control input-sm', 'datepicker' => true %>
        <%= f.submit "Search" %>
      <%end%>
</div>


<table class="table table-striped">
  <thead> 
    <tr>
    <th><%= sort_link(@q, :id, 'Id', default_order: :desc) %> </th>
       
      <th>Name</th>
      <th>Surname</th>
      <th>Create Date</th>
      <th>Status</th>
      <th>Sum</th>
      <th>Edit</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td> <%= order.id %></td>
        <td><%= order.user.first_name%></td>
        <td><%= order.user.last_name%></td>
        <td><%= l order.created_at, format: :long %></td>
        <td><%= OrderStateMachine.states_map[order.current_state] %></td>
        <td><%= number_to_currency order.full_cost %></td>
        
        <td>
          <%= link_to admin_order_path(order), class: "btn btn-default btn-xs" do %>
             <span class="fa fa-edit"></span>
          <%end%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders %>
