<%= simple_form_for [:admin, @product] do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :code %>
  <%= f.input :price %>
  <%= f.input :width %>
  <%= f.input :height %>
  <%= f.input :quantity %>
  <%= f.input :status %>
  <p> Status 0 - visible   Status 1 - invisible</p>  
  
  <%= f.association :category %>
  <%= f.input :picture, as: :file %>


 
  <%#= f.association :category %>
  <%= f.submit class: "btn btn-success" %>
<% end %>


