<section>
  <header class="major">
    <h2>Latest products</h2>
  </header>
  <div class="posts">
    <% products.each_slice(3) do |slice| %>
      <% slice.each do |product| %>
        <article>
         
  

      

          <h3> <%= link_to product.name, product, style: 'color:#5f5A51;'%> </h3>
			    <p><%= simple_format(truncate(product.description, length: 90))%></p>
					<ul class="actions">
            
              <%= link_to add_product_cart_path(product_id: product.id), method: :post, class: "button", remote: true do %>
                   <span class="fa fa-shopping-cart"> Add to cart
              <% end %>

            <li>
            <%= number_to_currency product.price %>
            </li>
             
               <li  > 
               <h5>
               Avaiable:    
            <%=product.quantity%>
            </h5>
            </li>


					</ul>
		    </article>
      <%end%>
    <%end%>
  </div>
</section>                                				
										
					
									
										
									
									
								