  <section id="banner">
	  <div class="content">
      <div class="row">
        <div class="col-6 col-12-small">  
           <% if @product.picture.attached? %> 
          <!--   <img src="<%= url_for(@product.picture)%>" width="400" height="400">  -->

             <img id="myImg" src="<%= url_for(@product.picture)%>"  alt="<%=@product.name%>" style="width:100%;max-width:500px">

<!-- The Modal -->
<div id="myModal" class="modal close"> <!-- add classs close on picture, when you click on it will close -->
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>



           <%end%>
  

           <!-- lines below are with mg glass  -->
          <%# if @product.picture.attached? %> <!-- 
            <div class="img-magnifier-container">
              <img id="myimage" src="<%= url_for(@product.picture)%>" width="400" height="400">
            </div> 		 -->
          <%#end%>
        </div> 
         <div class="col-6 col-12-small">
          <header>
            <h3><%= @product.name %></h3>
            <p>Code: <%= @product.code%></p>
          </header>
          <hr class="major" />
            <p style="margin:0"><%= @product.description %></p>
          <hr class="major" />
            <p style="margin:0"> Composition: <%= @product.composition%></p>
            <p style="margin:0">Dimensions: <%=@product.height%>   x   <%=@product.width%></p>
            <p>Product Weight:  10 </p>
          <hr class="major" />
            <div class="row">
              <div class="col-6 col-12-small align-left"><%=number_to_currency(@product.price)%></div>
              <div class="col-6 col-12-small align-right">In Stock</div>
            </div>
          <hr class="major" />
          <ul class="actions" style="justify-content: center">
            <%= link_to add_product_cart_path(product_id: @product.id), method: :post, class: "button large", remote: true do %>
                <span class="fa fa-shopping-cart"> Add to cart
            <% end %>
          </ul>
        </div>
      </div>
		</div>

    
  <script>
    /* Initiate Magnify Function
    with the id of the image, and the strength of the magnifier glass:*/
   
   // magnify("myimage", 3);
  </script>



<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var img = document.getElementById("myImg");
var modalImg = document.getElementById("img01");
var captionText = document.getElementById("caption");
img.onclick = function(){
  modal.style.display = "block";
  modalImg.src = this.src;
  captionText.innerHTML = this.alt;
}

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() { 
  modal.style.display = "none";
}
</script>




















<!-- 
	<span class="image object">
          <%= image_tag(@product.picture) if @product.picture.attached? %> 
			</span>

-->
<!-- Wrapper 

<div class="col-md-12">
  <div class="card mb-4 shadow-sm">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="img-magnifier-container">
            <%= image_tag(@product.picture, width: 366, align:'center', hspace:'20', id: 'myimage') if @product.picture.attached? %> 
          </div>
        </div>
        <div class="col-md-6">  
          <h1 class="text-center"><p><%= @product.name %></p></h1> 
          <p1>Product code: <%= @product.code%></p>
          <p1>Product dimensions:  Width - <%=@product.width%>cm,    Height - <%=@product.height%>cm</p>
          <p class="lead"><%= number_to_currency(@product.price) %></p>
          <p class="lead"><%= @product.description %></p> 
          <p class="text-right">
            <%= link_to add_product_cart_path(product_id: @product.id), method: :post, class: "btn btn-primary" do %> 
              <span class="fa fa-shopping-cart"> Add to cart
            <% end %>
            <% if current_cart.line_items.present? %> 
              <%= link_to cart_path,class: "btn btn-primary" do %>
                <span class="fa fa-shopping-cart"> Go to cart
              <%end%>
            <%end%>
          </p>     
        </div>
      </div>
    </div>
  </div>
</div>

-->
